<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <title>React ⚛️</title>
</head>

<body>
    <div id="root"></div>
    <script type="text/babel">

        function Header(props) {
            //console.log(props)
            return (
                <header>
                    <h1>{props.name}'s Pets</h1>
                </header>
            );
        }
        function Main(props) {
            return (
                <section>
                    <img 
                    height={300}
                    //src="https://images.pexels.com/photos/8016080/pexels-photo-8016080.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" 
                    src="../assets/hermitCrabs.jpeg"
                    alt="Two hermit crabs next to each other"
                    />
                    <ul>
                        {props.pets.map((pet) => (
                            <li key={pet.id}>{pet.species}</li>
                        ))}
                    </ul>
                </section>
            );
        }
        function Footer(props) {
            return (
                <footer>
                    <p>{props.company} Copyright {props.year}</p>
                </footer>
            );
        }
        const pets = [
            "Hermit Crab",
            "Triops",
            "Dog"
        ]
        const petObjects = pets.map(
            (pet, i) => ({
                id: i,
                species: pet
            })
        );
        function App() {
            return (
                <React.Fragment>
                    <Header name="Anker" />
                    <Main
                        name="Anker"
                        pets={petObjects}
                    />
                    <Footer
                        year={new Date().getFullYear()}
                        company="Skewed Bytes"
                    />
                </React.Fragment>
            );
        }
        ReactDOM.render(
            <App />,
            document.getElementById("root")
        );
    </script>
</body>

</html>